auth:
  txMsSecretId: SecretId
  txMsSecretKey: SecretKey

shield:
  apkSigner: "/usr/local/applegu/lib/apksigner.jar"
  apkAlign: "/usr/local/applegu/lib/zipalign"
  apkSigChecker: "/usr/local/applegu/lib/CheckAndroidV2Signature.jar"
  outDirectory: "/usr/local/applegu/lib/pkgs"
  shieldTimeout: 1800
  checkInterval: 30
  signParams:
    com_zw_cxtpro:
      keyAlias: "App"
      keyPassword: "app.zw.com"
      storeFile: "/usr/local/applegu/conf/ZWKeystore.jks"
      storePassword: "app.zw.com"